@model Mundo_Tecnologico.Models.Usuario

@{
    ViewBag.Title = "Editar Usuario | Mundo Tecnológico";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<div class="container-fluid contenedor_mantenimiento">
    <div class="col-md-6 m-auto formulario_mantenimiento">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title text-center">Registrar Usuario</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form id="formularioUsuarioRegistro" action="@Url.Action("Editar")" method="post" autocomplete="off">
                <div class="card-body">
                    <div class="row m-auto  col-md-12">
                        <div class="form-group col-md-6">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" value="@Model.nombre">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="apellidos">Apellidos</label>
                            <input type="text" class="form-control" id="apellidos" name="apellidos" value="@Model.apellidos">
                        </div>

                    </div>

                    <div class="row m-auto  col-md-12">

                        <div class="form-group col-md-6">
                            <label for="correo">Documento de Identidad</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="documento" id="documento" value="@Model.documento">
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="clave">Celular</label>
                            <input type="text" class="form-control" id="celular" name="celular" value="@Model.celular">
                        </div>

                    </div>

                    <div class="row m-auto  col-md-12">

                        <div class="form-group col-md-12">
                            <label for="correo">Correo</label>
                            <div class="input-group">
                                <input type="email" class="form-control" name="correo" id="correo" value="@Model.correo">
                            </div>
                        </div>

                    </div>

                    <div class="row m-auto  col-md-12">

                        <div class="form-group col-md-6">
                            <label for="codigoTipoUsuario">Tipo de Usuario</label>
                            <select class="custom-select" id="codigoTipoUsuario" name="codigoTipoUsuario">
                                <option disabled selected>Seleccione</option>
                                <option @(Model.tipoUsuario == "Administrador" ? "selected" : "" ) value="TPU0001">Administrador</option>
                                <option @(Model.tipoUsuario == "Cliente" ? "selected" : "" )  value="TPU0002">Cliente</option>
                            </select>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="estado">Estado</label>
                            <select class="custom-select" id="estado" name="estado">
                                <option disabled selected>Seleccione</option>
                                <option @(Model.estado == 1 ? "selected" : "" )  value="1">Activo</option>
                                <option @(Model.estado == 2 ? "selected" : "" )  value="2">Eliminado</option>
                            </select>
                        </div>

                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer d-flex justify-content-center">
                    <button type="submit" class="btn btn-success mr-5">Guardar Cambios</button>
                    <a href="@Url.Action("Listado", "Usuarios")" class="btn btn-secondary">Volver al Listado</a>
                </div>
            </form>
        </div>
        <!-- /.card -->
    </div>
    <div class="col-md-6">

    </div>
</div>
