@model IEnumerable<Mundo_Tecnologico.Models.Usuario>

@{
    ViewBag.Title = "Listado de Usuarios | Mundo Tecnológico";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<div class="contenedor_mantenimiento col-md-9 m-auto">
    <div class="card card-primary">

        <div class="card-header text-center">
            <h2 class="">Listado de Usuarios</h2>
            <a href="@Url.Action("Registrar", "Usuarios")" class="btn btn-primary">Nuevo Usuario</a>
        </div>

        <div class="card-body">

            @if (TempData["mensaje"] != null)
            {
                <div class="alert alert-info" role="alert">
                    <b><span>@TempData["mensaje"]</span></b>
                </div>
            }

            <table id="dataTable" class="table table-sm table-hover dt-responsive wrap" style="width:100%">
                <thead>
                    <tr>
                        <th style="width: 7%;">CÓDIGO</th>
                        <th style="width: 13%;">NOMBRE(S)</th>
                        <th style="width: 13%;">APELLIDO(S)</th>
                        <th style="width: 7%;">DOC. ID.</th>
                        <th style="width: 7%;">CELULAR</th>
                        <th style="width: 23%;">CORREO</th>
                        <th style="width: 10%;">TIPO</th>
                        <th style="width: 10%;">ESTADO</th>
                        <th style="width: 10%;">OPERACIONES</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.codigo</td>
                        <td>@item.nombre</td>
                        <td>@item.apellidos</td>
                        <td>@item.documento</td>
                        <td>@item.celular</td>
                        <td>@item.correo</td>
                        <td>@(item.tipoUsuario)</td>
                        <td>@(item.estado == 1 ? "Activo" : "Eliminado")</td>
                        <td class="text-center">
                            <a href="@Url.Action("Editar", "Usuarios", new { codigo = item.codigo})"><i class="fas fa-edit"></i></a>
                            <a href="@Url.Action("Detalle", "Usuarios", new { codigo = item.codigo})" style="color: green"><i class="fas fa-info-circle"></i></a>
                            <a href="@Url.Action("Restablecer", "Usuarios", new { codigo = item.codigo})" style="color: black"><i class="fas fa-unlock"></i></a>
                            <a href="@Url.Action("Eliminar", "Usuarios", new { codigo = item.codigo})" onclick="return ConfirmarDelete(event, '@item.codigo')" style="color: red">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
