@model IEnumerable<Mundo_Tecnologico.Models.Venta>

@{
    ViewBag.Title = "Listado de Usuarios | Mundo Tecnológico";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<div class="contenedor_mantenimiento col-md-12 m-auto">
    <div class="card card-primary">

        <div class="card-header text-center">
            <h2 class="">Mis Compras</h2>
        </div>

        <div class="card-body">

            <table id="dataTable" class="table table-sm table-hover dt-responsive wrap" style="width:100%">
                <thead>
                    <tr>
                        <th style="width: 10%;">CÓDIGO</th>
                        <th style="width: 10%;">FECHA - HORA</th>
                        <th style="width: 7%;">TOTAL</th>
                        <th style="width: 12%;">DISTRITO</th>
                        <th style="width: 25%;">DIRECCION</th>
                        <th style="width: 25%;">REFERENCIA</th>
                        <th style="width: 7%;">ESTADO</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.codigo</td>
                        <td>@item.fecha.ToShortDateString() - @item.fecha.ToLongTimeString()</td>
                        <td>S/. @item.total</td>
                        <td>@item.distrito</td>
                        <td>@item.direccion</td>
                        <td>@item.referencia</td>
                        @switch (item.estado)
                        {
                            case 1:
                                <td>Pendiente</td>
                                break;
                            case 2:
                                <td>Aprobada</td>
                                break;
                            case 3:
                                <td>Entregada</td>
                                break;
                            case 4:
                                <td>Rechazada</td>
                                break;
                        }
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
